# https://qiita.com/k8uwall/items/79dbe6dd03aa8b0ed119
# MySQLサーバーへの設定
[mysqld]
# 文字コード/照合順序の設定
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# 透過的暗号化のための設定 https://mariadb.com/kb/en/data-at-rest-encryption-overview/
# ファイル鍵管理プラグイン
plugin-load-add = file_key_management.so

# 暗号化キーファイル
file-key-management-filename = /etc/mysql/encryption/keyfile.enc
# 暗号化キーファイルの暗号化パスワード
file_key_management_filekey = FILE:/etc/mysql/encryption/keyfile.key
file_key_management_encryption_algorithm = AES_CTR

# テーブルの暗号化...ON:有効、OFF:無効、FORCE:暗号化が設定されていないテーブルの作成を許可しない
innodb-encrypt-tables = ON
# InnoDB/XtraDB ログファイルの暗号化...1:有効、0:無効
innodb-encrypt-log = 1
# 一時テーブルの暗号化...1:有効、0:無効
encrypt-tmp-disk-tables = 1
# 一時ファイルの暗号化...1:有効、0:無効（mariadb:10.1.40 の Docker イメージの場合有効にするとエラーが出てコンテナが停止する）
encrypt-tmp-files = 1
# バイナリログ/リレーログの暗号化...1:有効、0:無効
encrypt-binlog = 1

# mysqlオプションの設定
[mysql]
# 文字コードの設定
default-character-set = utf8mb4

# mysqlクライアントツールの設定
[client]
# 文字コードの設定
default-character-set = utf8mb4
